@model HomeViewModel

<partial name="_Carousel" />

<h2>Qual coleção é a preferida? </h2>
<h4>Quer Garantir o LOOK da TFTEC ???</h4>

<div class="row">
    @foreach (var produto in Model.ProdutosEstoque)
    {
        <partial name="_Produtos" for="@produto" />
    }
</div>
